{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 80,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "*.js",
        "*.ts"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
