{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "trailingComma": "all",
    "bracketSameLine": true,
    "overrides": [
        {
            "files": ["*.js", "*.ts"],
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": ["tsconfig.json"],
            "options": {
                "parser": "json5",
                "quoteProps": "preserve"
            }
        }
    ]
}
