@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Overpass:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Nunito";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

[data-kicanvas] {
    --font-family: Overpass;
    --font-size: 1.5;
    --line-spacing: 1.1;
    --background: #131218;
    --stroke: #F8F8F0;
    --stroke-width: 0.3;
    --fill: #F8F8F0;
    --highlight: rgba(200, 255, 227, 0.5);
    --symbol-fill: #433E56;
    --symbol-stroke: #C5A3FF;
    --symbol-field: #AE81FF;
    --symbol-ref: #81EEFF;
    --symbol-value: #81EEFF;
    --wire: #AE81FF;
    --junction: #DCC8FF;
    --no-connect: #FF81AD;
    --pin-radius: 0.254;
    --pin-color: #81FFBE;
    --pin-name: #81FFBE;
    --pin-number: #64CB96;
    --label: #DCC8FF;
    --hierarchical-label: #A3FFCF;
}

[data-kicanvas].light {
    --background: #F8F8F0;
    --stroke: #282634;
    --stroke-width: 0.3;
    --fill: #131218;
    --highlight: rgba(200, 255, 227, 0.5);
    --symbol-fill: #DCC8FF;
    --symbol-stroke: #433E56;
    --symbol-field: #4E896B;
    --symbol-ref: #716799;
    --symbol-value: #716799;
    --wire: ##433E56;
    --junction: ##433E56;
    --no-connect: #FF81AD;
    --pin-radius: 0.254;
    --pin-color: #634E89;
    --pin-name: #433E56;
    --pin-number: #716799;
    --label: #CB6488;
    --hierarchical-label: #4E896B;
}

[data-kicanvas] {
  width: 100%;
  height: 100vh;
}

[data-kicanvas] canvas {
  width: 100%;
  height: 100%;
}

.kicanvas-dialog {
  font-size: 1.2rem;
  margin: auto;
  width: 30rem;
  max-width: 80vw;
}

.kicanvas-dialog .property {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
}

.kicanvas-dialog .property input {
  font-size: 1.1rem;
}

.kicanvas-dialog button {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  display: block;
  width: 100%;
}
