kc-board-layers-panel {
    display: block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
}

kc-board-layers-panel kc-ui-panel-body {
    padding: 0;
}

kc-board-layers-panel button {
    all: unset;
    flex-shrink: 0;
    margin-left: 1rem;
    color: white;
    border: 0 none;
    background: transparent;
    padding: 0 0.25rem 0 0.25rem;
    margin-right: -0.25rem;
    display: flex;
    align-items: center;
}
