/*
    Variables
*/
:host {
    --transition-time-very-short: 100ms;
    --transition-time-short: 200ms;
    --transition-time-medium: 500ms;

    --bg: #131218;
    --fg: #f8f8f0;

    --tooltip-bg: #8864cb;
    --tooltip-fg: #f8f8f0;
    --tooltip-border: 1px solid #131218;

    --workspace-bg: #282634;
    --workspace-fg: #f8f8f0;

    --scrollbar-bg: #131218;
    --scrollbar-fg: #ae81ff66;
    --scrollbar-active-fg: #ae81ff;
    --scrollbar-hover-bg: #ae81ffbb;

    --link-fg: #c990a5;
    --link-active-fg: #dba6ba;
    --highlight-bg: #131218;

    --title-bar-bg: #131218;
    --title-bar-fg: #f8f8f0;

    --activity-bar-bg: #282634;
    --activity-bar-fg: #f8f8f0;
    --activity-bar-active-bg: #131218;
    --activity-bar-active-fg: #f8f8f0;

    --resizer-bg: #ae81ff;
    --resizer-active-bg: #ae81ffbb;

    --panel-bg: #131218;
    --panel-fg: #f8f8f0;
    --panel-border: 2px solid #282634;
    --panel-title-bg: #8077a8;
    --panel-title-fg: #f8f8f0;
    --panel-title-border: 1px solid #634e89;
    --panel-title-button-bg: transparent;
    --panel-title-button-fg: #dcc8ff;
    --panel-title-button-hover-bg: #ae81ff;
    --panel-title-button-hover-fg: inherit;
    --panel-title-button-disabled-bg: inherit;
    --panel-title-button-disabled-fg: #888;
    --panel-subtitle-bg: #634e89;
    --panel-subtitle-fg: var(--panel-fg);

    --toolbar-button-bg: #282634;
    --toolbar-button-fg: #f8f8f0;
    --toolbar-button-hover-bg: #282634;
    --toolbar-button-hover-fg: #81eeff;
    --toolbar-button-disabled-bg: #131218;
    --toolbar-button-disabled-fg: #888;

    --tab-bar-bg: #131218;
    --tab-bg: #131218;
    --tab-fg: #f8f8f0;
    --tab-active-bg: #8864cb;
    --tab-active-fg: #f8f8f0;
    --tab-hover-bg: #634e89;
    --tab-border: 1px solid #131218;

    --badge-bg: #81eeff;
    --badge-fg: #131218;

    --dropdown-bg: #464258;
    --dropdown-fg: #f8f8f0;

    --button-bg: #81eeff;
    --button-fg: #131218;
    --button-hover-bg: #a3f3ff;
    --button-hover-fg: #131218;
    --button-focus-outline: 1px solid #ae81ff;
    --button-disabled-bg: #131218;
    --button-disabled-fg: #888;
    --button-success-bg: #64cb96;
    --button-success-fg: #131218;
    --button-success-hover-bg: #81ffbe;
    --button-success-hover-fg: #131218;
    --button-danger-bg: #cb6488;
    --button-danger-fg: #131218;
    --button-danger-hover-bg: #ff81ad;
    --button-danger-hover-fg: #131218;

    --input-bg: #131218;
    --input-fg: #f8f8f0;
    --input-accent: #ae81ff;
    --input-hover-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
    --input-focus-outline: 1px solid #ae81ff;
    --input-placeholder: #8077a8;
    --input-disabled-bg: #131218;
    --input-disabled-fg: #888;
    --input-error-fg: #f8f8f0;
    --input-error-bg: #cb6488;
    --input-error-border: #cb6488;
    --input-range-bg: #8077a8;
    --input-range-handle-shadow: 1px 1px 5px 5px rgba(180, 180, 180, 0.2);

    --list-item-bg: var(--panel-bg);
    --list-item-fg: var(--panel-fg);
    --list-item-active-bg: #634e89;
    --list-item-active-fg: var(--list-item-fg);
    --list-item-focus-bg: #ae81ff;
    --list-item-focus-fg: #634e89;
    --list-item-hover-bg: #64cb96;
    --list-item-hover-fg: var(--list-item-bg);
    --list-item-disabled-bg: var(--list-item-bg);
    --list-item-disabled-fg: #888;

    --grid-outline: #433e56;
}

/*
    Gradient theme
*/
:host {
    --gradient-purple-green-light: linear-gradient(
            190deg,
            hsl(261deg 27% 42%) 0%,
            hsl(243deg 27% 42%) 17%,
            hsl(224deg 27% 42%) 33%,
            hsl(205deg 27% 42%) 50%,
            hsl(187deg 27% 42%) 67%,
            hsl(168deg 27% 42%) 83%,
            hsl(149deg 27% 42%) 100%
        )
        0 0 fixed;
    --gradient-purple-blue-medium: linear-gradient(
            190deg,
            hsl(261deg 28% 30%) 0%,
            hsl(248deg 30% 31%) 17%,
            hsl(235deg 32% 32%) 33%,
            hsl(222deg 34% 33%) 50%,
            hsl(209deg 35% 34%) 67%,
            hsl(197deg 37% 35%) 83%,
            hsl(183deg 38% 36%) 100%
        )
        0 0 fixed;
    --gradient-purple-blue-dark: linear-gradient(10deg, #111928, #1d162a) 0 0
        fixed;
    --gradient-cyan-blue-light: linear-gradient(
            190deg,
            hsl(183deg 63% 33%) 0%,
            hsl(189deg 69% 30%) 17%,
            hsl(194deg 74% 27%) 33%,
            hsl(199deg 79% 24%) 50%,
            hsl(203deg 85% 21%) 67%,
            hsl(209deg 89% 18%) 83%,
            hsl(214deg 95% 15%) 100%
        )
        0 0 fixed;
    --gradient-purple-green-highlight: linear-gradient(
            190deg,
            hsl(261deg 27% 53%) 0%,
            hsl(243deg 27% 52%) 17%,
            hsl(224deg 27% 52%) 33%,
            hsl(205deg 27% 51%) 50%,
            hsl(186deg 27% 51%) 67%,
            hsl(168deg 27% 50%) 83%,
            hsl(149deg 27% 50%) 100%
        )
        0 0 fixed;

    --scrollbar-bg: var(--gradient-purple-blue-dark);
    --scrollbar-fg: var(--gradient-purple-green-light);
    --scrollbar-hover-fg: var(--scrollbar-fg);
    --scrollbar-active-fg: var(--scrollbar-fg);

    --activity-bar-bg: var(--gradient-purple-green-light);

    --resizer-bg: var(--gradient-purple-blue-medium);
    --resizer-active-bg: var(--gradient-purple-green-highlight);

    --panel-bg: var(--gradient-purple-blue-dark);
    --panel-title-bg: var(--gradient-purple-green-light);
    --panel-subtitle-bg: var(--gradient-purple-blue-medium);

    --toolbar-button-bg: var(--gradient-purple-blue-dark);
    --toolbar-button-hover-bg: var(--gradient-purple-green-light);
    --toolbar-button-hover-fg: #f8f8f0;
    --toolbar-button-disabled-bg: var(--gradient-purple-blue-dark);

    --toolbar-button-highlight-bg: var(--gradient-purple-green-light);
    --toolbar-button-highlight-fg: #f8f8f0;
    --toolbar-button-highlight-hover-bg: var(--gradient-purple-green-highlight);
    --toolbar-button-highlight-hover-fg: #f8f8f0;

    --input-range-bg: var(--gradient-purple-green-light);

    --list-item-hover-bg: var(--gradient-purple-green-highlight);
    --list-item-active-bg: var(--gradient-cyan-blue-light);
}

/*
    Helpers
*/

.is-block {
    display: block;
}

.is-inline {
    display: inline;
}

.is-flex {
    display: flex;
}

.is-hidden {
    display: none;
}

.is-relative {
    position: relative;
}

.is-unselectable {
    user-select: none;
}

/*
    Scrollbar
*/

::-webkit-scrollbar {
    position: absolute;
    width: 6px;
    height: 6px;
    margin-left: -6px;
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    position: absolute;
    background: var(--scrollbar-fg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-fg);
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-active-fg);
}

/*
    Form controls
*/

label {
    display: block;
    width: 100%;
    margin-top: 0.75rem;
    font: inherit;
}

input,
select,
textarea,
button {
    all: unset;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 0.5rem;
    font: inherit;
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.25rem;
    background: var(--input-bg);
    color: var(--input-fg);
    transition: color var(--transition-time-medium) ease,
        box-shadow var(--transition-time-medium) ease,
        outline var(--transition-time-medium) ease,
        background var(--transition-time-medium) ease,
        border var(--transition-time-medium) ease;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
    z-index: 10;
    box-shadow: var(--input-hover-shadow);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    z-index: 10;
    box-shadow: none;
    outline: var(--input-focus-outline);
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
    background: var(--input-disabled-bg);
    color: var(--input-disabled-fg);
}

input:disabled:hover,
select:disabled:hover,
textarea:disabled:hover,
button:disabled:hover {
    z-index: 10;
    cursor: unset;
}

input[type="color"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    height: 2rem;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: grab;
    color: var(--input-fg);
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    background: var(--input-range-bg);
    height: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

input[type="range"]:hover::-webkit-slider-runnable-track,
input[type="range"]:focus::-webkit-slider-runnable-track {
    border: 1px solid var(--input-accent);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--input-fg);
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    margin-top: -0.3rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: var(--input-range-handle-shadow);
}

textarea {
    text-align: left;
    padding: 0.5rem;
}

button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-right: 0.2rem;
    border-radius: 0.25rem;
    border: 2px solid transparent;
    background: var(--button-bg);
    color: var(--button-fg);
}

button:hover {
    background: var(--button-hover-bg);
    color: var(--button-hover-fg);
    cursor: pointer;
}

button:disabled {
    background: var(--button-disabled-bg);
    color: var(--button-disabled-fg);
}

button:focus {
    outline: var(--button-focus-outline);
}

button.success {
    background: var(--button-success-bg);
    color: var(--button-success-fg);
}

button.success:hover {
    background: var(--button-success-hover-bg);
    color: var(--button-success-hover-fg);
}

button.danger {
    background: var(--button-danger-bg);
    color: var(--button-danger-fg);
}

button.danger:hover {
    background: var(--button-danger-hover-bg);
    color: var(--button-danger-hover-fg);
}

/*
    Icons
*/

kc-ui-icon,
kc-ui-app ::part(icon) {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    user-select: none;
}

/*
    Toolbar buttons and groups
*/

button.toolbar,
output.toolbar {
    width: unset;
    margin: unset;
    padding: 0.5rem;
    color: var(--toolbar-button-fg);
    background: var(--toolbar-button-bg);
    border: 1px solid var(--toolbar-button-bg);
    border-radius: 0.25rem;
    font-weight: 300;
    font-size: 0.9rem;
    box-shadow: var(--input-hover-shadow);
    user-select: none;
}

button.toolbar:hover {
    color: var(--toolbar-button-hover-fg);
    background: var(--toolbar-button-hover-bg);
}

button.toolbar:disabled {
    color: var(--toolbar-button-disabled-fg);
    background: var(--toolbar-button-disabled-bg);
}

button.toolbar kc-ui-icon,
button.toolbar ::part(icon),
output.toolbar kc-ui-icon,
output.toolbar ::part(icon) {
    font-size: 1rem;
}

button.toolbar.highlight {
    color: var(--toolbar-button-highlight-fg);
    background: var(--toolbar-button-highlight-bg);
}

button.toolbar.highlight:hover {
    color: var(--toolbar-button-highlight-hover-fg);
    background: var(--toolbar-button-highlight-hover-bg);
}

.button-group {
    display: flex;
    box-shadow: var(--input-hover-shadow);
}

.button-group.margin-left {
    margin-left: 0.5rem;
}

.button-group button {
    border-radius: 0;
    box-shadow: none;
}

.button-group button:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.button-group button:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

/*
    Layout
*/

kc-ui-app {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

kc-ui-split-view {
    display: flex;
    height: 100%;
    overflow: hidden;
}

kc-ui-split-view[horizontal] {
    flex-direction: column;
    max-height: 100%;
}

kc-ui-split-view[vertical] {
    flex-direction: row;
    max-width: 100%;
}

kc-ui-view {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

kc-ui-view.grow,
kc-ui-split-view.grow {
    flex-basis: unset;
    flex-grow: 999;
}

kc-ui-view.shrink,
kc-ui-split-view.shrink {
    flex-grow: 0;
    flex-shrink: 1;
    width: unset;
}

kc-ui-view.fixed,
kc-ui-split-view.fixed {
    flex-grow: 0;
    flex-shrink: 0;
}

/*
    Resizer
*/

kc-ui-view-resizer {
    z-index: 999;
    user-select: none;
    display: block;
    width: 6px;
    margin-left: -6px;
    cursor: col-resize;
    background: transparent;
    opacity: 0;
    transition: opacity var(--transition-time-medium) ease;
}

kc-ui-view-resizer:hover {
    background: var(--resizer-bg);
    opacity: 1;
    transition: opacity var(--transition-time-short) ease;
}
kc-ui-view-resizer:hover.active,
kc-ui-view-resizer.active {
    background: var(--resizer-active-bg);
}

/*
    Panels
*/

kc-ui-panel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--panel-bg);
    color: var(--panel-fg);
    --bg: var(--panel-bg);
}

kc-ui-panel:last-child {
    flex-grow: 1;
}

kc-ui-panel-header {
    flex: 0;
    width: 100%;
    text-align: left;
    padding: 0.2rem 0.8rem 0.2rem 0.4rem;
    display: flex;
    align-items: center;
    background: var(--panel-title-bg);
    color: var(--panel-title-fg);
    border-top: var(--panel-title-border);
    user-select: none;
}

kc-ui-panel-header-text {
    flex: 1;
}

kc-ui-panel-header-actions {
    flex: 0 1;
    display: flex;
    flex-direction: row;
    /* cheeky hack to work around scrollbar causing placement to be off. */
    padding-right: 6px;
}

kc-ui-panel-body {
    width: 100%;
    min-height: 0;
    padding: 0.1rem 0.8rem 0.1rem 0.4rem;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 0;
    font-weight: 300;
    font-size: 1rem;
}

kc-ui-panel-body.no-padding {
    padding: 0;
}

/*
    Floating toggle panels
*/

kc-ui-floating-panel {
    border-radius: 5px;
    border: 1px solid transparent;
    background: var(--activity-bar-bg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

kc-ui-floating-panel-header button {
    background: transparent;
    color: var(--toolbar-button-fg);
    margin-top: 0;
    margin-right: 0;
    border-radius: 0;
    border: none;
    /* padding: 0.5rem 0.6rem; */
    padding: 0;
    justify-content: left;
    box-shadow: none;
}

kc-ui-floating-panel-header button:hover,
kc-ui-floating-panel-header button:focus {
    box-shadow: none;
    outline: none;
}

kc-ui-floating-panel[closed] kc-ui-floating-panel-header button:hover {
    background: var(--toolbar-button-highlight-hover-bg);
    color: var(--toolbar-button-highlight-hover-fg);
}

kc-ui-floating-panel kc-ui-floating-panel-header button:hover {
    background: transparent;
    color: var(--toolbar-button-fg);
}

kc-ui-floating-panel-header button kc-ui-icon {
    padding: 0.4rem 0.5rem;
}

kc-ui-floating-panel-header button span {
}

kc-ui-floating-panel-body {
    width: 100%;
    min-height: 0;
    flex: 1 0;
    font-weight: 300;
    font-size: 1rem;
}

kc-ui-floating-panel-body ul.item-list li {
    padding: 0.3rem 1rem 0.3rem 0.6rem;
}

kc-ui-floating-panel-body ul.item-list li[aria-role="button"]:hover {
    background: var(--toolbar-button-highlight-hover-bg);
}

kc-ui-floating-panel-body ul.item-list li[aria-selected="true"] {
    background: var(--toolbar-button-bg);
}

kc-ui-floating-panel[closed] kc-ui-floating-panel-header button span {
    display: none;
}

kc-ui-floating-panel[closed] kc-ui-floating-panel-body {
    display: none;
}

/*
    Property list (grid style) dl elements
*/

dl.property-list {
    display: grid;
    gap: 1px;
    grid-template-columns: fit-content(50%) 1fr;
    background: var(--grid-outline);
    border-bottom: 1px solid var(--grid-outline);
}

dl.property-list > * {
    padding: 0.2rem;
    background: var(--bg);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    user-select: all;
}

dl.property-list dt.header {
    user-select: none;
    grid-column-end: span 2;
    background: var(--panel-subtitle-bg);
    color: var(--panel-subtitle-fg);
}

dl.property-list kc-ui-icon {
    vertical-align: middle;
}

/*
    item-lists
*/

ul.item-list {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: var(--list-item-bg);
    color: var(--list-item-fg);
}

ul.item-list li {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.2rem;
    user-select: none;
    background: transparent;
    transition: color var(--transition-time-short) ease,
        background-color var(--transition-time-short) ease;
}

ul.item-list.outline li {
    border-bottom: 1px solid var(--grid-outline);
}

ul.item-list li:hover {
    background: var(--list-item-hover-bg);
    color: var(--list-item-hover-fg);
}

ul.item-list li span {
    flex: 1 1 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul.item-list li span.very-narrow {
    max-width: 50px;
}

ul.item-list li span.narrow {
    max-width: 100px;
}

ul.item-list li > kc-ui-icon:first-child {
    margin-right: 0.5rem;
    margin-left: -0.1rem;
}

ul.item-list li.header,
ul.item-list li.header:hover {
    user-select: none;
    background: var(--panel-subtitle-bg);
    color: var(--panel-subtitle-fg);
}

ul.item-list li[aria-role="button"] {
    cursor: pointer;
}

ul.item-list li[aria-current="true"] {
    cursor: pointer;
    background: var(--list-item-active-bg);
    color: var(--list-item-active-fg);
}

ul.item-list li[aria-disabled="true"] {
    cursor: pointer;
    background: var(--list-item-disabled-bg);
    color: var(--list-item-disabled-fg);
}

ul.item-list.no-bg {
    background: transparent;
}

ul.item-list.no-bg li {
    background: transparent;
}

/*
    Control lists
*/

ul.control-list {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: var(--list-item-bg);
    color: var(--list-item-fg);
}

ul.control-list li {
    all: unset;
    box-sizing: border-box;
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    user-select: none;
    background-color: transparent;
    transition: color var(--transition-time-short) ease,
        background-color var(--transition-time-short) ease;
}

ul.control-list li label {
    flex: 1 1 100%;
    display: block;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul.control-list li input {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
