:host {
    z-index: 10;
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

:host([location="top"]) {
    top: 0;
}

:host([location="bottom"]) {
    bottom: 0;
}

::slotted(*) {
    user-select: initial;
    pointer-events: initial;
}

div.left {
    flex-grow: 999;
    display: flex;
}

div.right {
    display: flex;
}
