kc-layer-controls {
    display: block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
}

kc-layer-controls kc-ui-panel-body {
    padding: 0;
}

kc-layer-controls button {
    all: unset;
    flex-shrink: 0;
    margin-left: 1rem;
    color: white;
    border: 0 none;
    background: transparent;
    padding: 0 0.25rem 0 0.25rem;
    margin-right: -0.25rem;
    display: flex;
    align-items: center;
}

kc-layer-control-item {
    box-sizing: border-box;
    padding: 0.1rem 0.8rem 0.1rem 0.4rem;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

kc-layer-control-item:hover {
    background-color: var(--list-item-hover-bg);
    color: var(--list-item-hover-fg);
}

kc-layer-control-item:hover button {
    color: var(--list-item-bg);
}

kc-layer-control-item:hover button:hover {
    background: transparent;
    box-shadow: none;
    color: var(--list-item-fg);
}

kc-layer-control-item[layer-highlighted] {
    background-color: var(--list-item-active-bg);
    color: var(--list-item-active-fg);
}

kc-layer-control-item[layer-highlighted]:hover button {
    color: var(--list-item-fg);
}

kc-layer-control-item[layer-visibility="hidden"] {
    background-color: var(--list-item-disabled-bg);
    color: var(--list-item-disabled-fg);
}

kc-layer-control-item .color {
    flex-shrink: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

kc-layer-control-item .name {
    display: block;
    flex-grow: 1;
}

kc-layer-control-item .icon.for-hidden {
    color: #888;
}

kc-layer-control-item[layer-visibility="hidden"] .icon.for-visible,
kc-layer-control-item[layer-visibility="visible"] .icon.for-hidden {
    display: none;
}

kc-layer-control-item[layer-visibility="hidden"] .icon.for-hidden,
kc-layer-control-item[layer-visibility="visible"] .icon.for-visible {
    display: revert;
}
