*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

* {
    margin: 0;
}

:host {
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    padding: 0.25rem 1rem;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

:host(:hover) {
    background-color: #333;
}

:host([layer-highlighted]) {
    background-color: #888;
}

:host([layer-visibility="hidden"]) {
    color: #888;
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.color {
    flex-shrink: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.name {
    display: block;
    flex-grow: 1;
}

button {
    all: unset;
    flex-shrink: 0;
    margin-left: 1rem;
    color: white;
    border: 0 none;
    background: transparent;
    padding: 0 0.25rem 0 0.25rem;
    margin-right: -0.25rem;
    display: flex;
    align-items: center;
}

button:hover .icon {
    color: rgba(129, 255, 190, 1);
}

.icon.for-hidden {
    color: #888;
}

:host([layer-visibility="hidden"]) .icon.for-visible,
:host([layer-visibility="visible"]) .icon.for-hidden {
    display: none;
}

:host([layer-visibility="hidden"]) .icon.for-hidden,
:host([layer-visibility="visible"]) .icon.for-visible {
    display: revert;
}
