:host {
    z-index: 999;
    user-select: none;
    display: block;
    width: 6px;
    margin-left: -6px;
    cursor: col-resize;
    background: transparent;
    opacity: 0;
    transition: opacity var(--transition-time-medium, 500) ease;
}

:host(:hover) {
    background: var(--resizer-bg, rebeccapurple);
    opacity: 1;
    transition: opacity var(--transition-time-short) ease;
}

:host(:hover.active),
:host(.active) {
    background: var(--resizer-active-bg, rebeccapurple);
}
