*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: "Nunito";
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Styles for KiCAD pcb */

kicad-pcb {
    --color-anchor: rgb(100, 203, 150);
    --color-aux: rgb(255, 98, 0);
    --color-b-adhes: rgb(0, 0, 132);
    --color-b-crtyd: rgb(174, 129, 255);
    --color-b-cu: rgb(111, 204, 219);
    --color-b-fab: rgb(113, 103, 153);
    --color-b-mask: rgba(78, 129, 137, 0.8);
    --color-b-paste: rgba(167, 234, 255, 0.502);
    --color-b-silks: rgb(136, 100, 203);
    --color-background: rgb(19, 18, 24);
    --color-cmts-user: rgb(129, 255, 190);
    --color-cursor: rgb(220, 200, 255);
    --color-dwgs-user: rgb(248, 248, 240);
    --color-eco1-user: rgb(129, 238, 255);
    --color-eco2-user: rgb(255, 129, 173);
    --color-edge-cuts: rgb(129, 255, 190);
    --color-f-adhes: rgb(132, 0, 132);
    --color-f-crtyd: rgb(174, 129, 255);
    --color-f-cu: rgb(226, 114, 153);
    --color-f-fab: rgb(113, 103, 153);
    --color-f-mask: rgb(137, 78, 99);
    --color-f-paste: rgb(220, 200, 255);
    --color-f-silks: rgb(220, 200, 255);
    --color-grid-axes: rgb(255, 129, 173);
    --color-grid: rgb(113, 103, 153);
    --color-in1-cu: rgb(127, 200, 127);
    --color-in2-cu: rgb(206, 125, 44);
    --color-margin: rgb(78, 137, 107);
    --color-no-connect: rgb(255, 148, 0);
    --color-pad-plated-hole: rgb(194, 194, 0);
    --color-pad-through-hole: rgb(227, 209, 46);
    --color-plated-hole: rgb(129, 255, 190);
    --color-via-blind-buried: rgb(203, 196, 100);
    --color-via-hole: rgb(40, 38, 52);
    --color-via-micro: rgb(255, 148, 0);
    --color-via-through: rgb(227, 209, 46);
    --color-worksheet: rgb(99, 78, 137);
}

kicad-pcb {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

kicad-pcb canvas {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    background-color: gray;
    flex-grow: 1;
}

kicad-pcb aside {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 0.5rem 0rem;
    overflow-y: scroll;
}

kicad-pcb aside button {
    color: white;
    background: transparent;
    padding: 0.5rem 1rem;
    text-align: left;
    border: 0 none;
    display: flex;
    flex-direction: row;
    width: 100%;
}

kicad-pcb aside button[data-visible="no"] {
    color: #aaa;
}

kicad-pcb aside button:hover {
    background-color: #333;
}

kicad-pcb aside button .color {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: orange;
    margin-right: 0.5rem;
}

kicad-pcb aside button[name="F.Cu"] .color {
    background-color: var(--color-f-cu);
}
kicad-pcb aside button[name="In1.Cu"] .color {
    background-color: var(--color-in1-cu);
}
kicad-pcb aside button[name="In2.Cu"] .color {
    background-color: var(--color-in2-cu);
}
kicad-pcb aside button[name="B.Cu"] .color {
    background-color: var(--color-b-cu);
}
kicad-pcb aside button[name="F.Paste"] .color {
    background-color: var(--color-f-paste);
}
kicad-pcb aside button[name="B.Paste"] .color {
    background-color: var(--color-b-paste);
}
kicad-pcb aside button[name="F.SilkS"] .color {
    background-color: var(--color-f-silks);
}
kicad-pcb aside button[name="B.SilkS"] .color {
    background-color: var(--color-b-silks);
}
kicad-pcb aside button[name="F.Mask"] .color {
    background-color: var(--color-f-mask);
}
kicad-pcb aside button[name="B.Mask"] .color {
    background-color: var(--color-b-mask);
}
kicad-pcb aside button[name="Dwgs.User"] .color {
    background-color: var(--color-dwgs-user);
}
kicad-pcb aside button[name="Cmts.User"] .color {
    background-color: var(--color-cmts-user);
}
kicad-pcb aside button[name="Edge.Cuts"] .color {
    background-color: var(--color-edge-cuts);
}
kicad-pcb aside button[name="Margin"] .color {
    background-color: var(--color-margin);
}
kicad-pcb aside button[name="F.CrtYd"] .color {
    background-color: var(--color-f-crtyd);
}
kicad-pcb aside button[name="B.CrtYd"] .color {
    background-color: var(--color-b-crtyd);
}
kicad-pcb aside button[name="F.Fab"] .color {
    background-color: var(--color-f-fab);
}
kicad-pcb aside button[name="B.Fab"] .color {
    background-color: var(--color-b-fab);
}
