kicad-schematic,
kicad-schematic.light {
    --background: white;
    --stroke: #282634;
    --stroke-width: 0.3;
    --fill: #131218;
    --highlight: #19e0ff;
    --symbol-fill: #dcc8ff;
    --symbol-stroke: #433e56;
    --symbol-field: #4e896b;
    --symbol-ref: #716799;
    --symbol-value: #716799;
    --wire: ##433e56;
    --junction: ##433e56;
    --no-connect: #ff81ad;
    --pin-radius: 0.254;
    --pin-color: #634e89;
    --pin-name: #433e56;
    --pin-number: #716799;
    --label: #cb6488;
    --hierarchical-label: #4e896b;
}

kicad-schematic.dark {
    --background: #131218;
    --stroke: #f8f8f0;
    --stroke-width: 0.3;
    --fill: #f8f8f0;
    --highlight: rgba(200, 255, 227, 0.5);
    --symbol-fill: #433e56;
    --symbol-stroke: #c5a3ff;
    --symbol-field: #ae81ff;
    --symbol-ref: #81eeff;
    --symbol-value: #81eeff;
    --wire: #ae81ff;
    --junction: #dcc8ff;
    --no-connect: #ff81ad;
    --pin-radius: 0.254;
    --pin-color: #81ffbe;
    --pin-name: #81ffbe;
    --pin-number: #64cb96;
    --label: #dcc8ff;
    --hierarchical-label: #a3ffcf;
}

kicad-schematic {
    --crop-height: yes;
    --min-page-width: 100;
    --font-size: 2;
    --font-family: Arial;
    width: 100%;
}

kicad-schematic canvas {
    width: 100%;
    height: 100%;
}

kicad-schematic-dialog dialog {
    font-size: 1.2rem;
    margin: auto;
    width: 30rem;
    max-width: 80vw;
    border: none;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
}

kicad-schematic-dialog .property {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
}

kicad-schematic-dialog .property input {
    font-size: 1.1rem;
}

kicad-schematic-dialog button {
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    display: block;
    width: 100%;
    border: 1px solid transparent;
    background: #17a2b8;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
